.table-container{
  background: var(--bg);
  border: 1px solid var(--border);
  margin-top: 5px;
  border-radius: var(--radius);

}

.employee-bar{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
  padding: 14px;
  border-bottom: 1px solid var(--border);
}

.employee-bar__item{
  display: flex;
  gap: 10px;
  align-items: flex-start;
}

.employee-bar__item svg{
  color: var(--icon-color);
  font-size: 18px;
  margin-top: 2px;
}

.employee-bar__label{
  font-size: 14px;
  color: var(--muted);
}

.employee-bar__value{
  font-weight: 600;
  color: var(--text);
  margin-top: 2px;
  font-size: 14px;

}

@media (max-width: 450px) {
  .employee-bar{
  grid-template-columns: repeat(2, 1fr);
}

.employee-bar__value{
  font-size: 12px;
}

}